body {
    background: url("./background-vertical.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo-login {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    caret-color: transparent;
}
@media (max-width: 768px) {
    body {
        background-image: url("./background-vertical.jpg");
    }
    .loginreg-container i,
    .loginreg-container i:hover {
        animation: none !important;
        opacity:0!important ;
    }
}
@media (min-width: 1200px) {
    body {
        background-image: url("./background-horizontal.jpg");
        background-size:cover;
        width: 100vw;
    }
}
.loginreg-container {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginreg-container i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
    caret-color: transparent;
    z-index: -1;
}
.loginreg-container i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.loginreg-container i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.loginreg-container i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}
.loginreg-container:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var (--clr));
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



.text-danger,.email-error,.password-error,.confirmPassword-error {
    color: #ff0000;
    font-size: 10px;
    margin: 2px 0;
    position: absolute;
    right: 150px;
    font-weight: bold;
}
.password-error{
    right: 125px;
}
.confirmPassword-error {
    right: 75px;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.input-field-login:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset; /* Set a large box shadow to override the default background color */
    -webkit-text-fill-color: #333; /* Set the text color */
    transition: background-color 5000s ease-in-out 0s; /* Prevent the background color transition */
}

.login-form,.registration-form {
    height: 215px;
    width: 350px;
    background-color: black;
    border-radius: 15px;
}
.registration-form {
    position: absolute;
    top: 20%;
    height: 300px;
}

.input-container-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field-login {
    padding: 10px;
    min-width: 250px;
    margin: 20px 0;
    background: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.input-label-login {
    position: absolute;
    top: 50%;
    left: 55px;
    padding: 0 5px;
    transform: translateY(275%);
    pointer-events: none;
    transition: transform 0.3s ease-in-out;
    caret-color: transparent;
    color: #fff;
    background-color: black;
}

.input-field-login:hover+.input-label-login,
.input-field-login:focus+.input-label-login, 
.input-field-login.has-content+.input-label-login {
    transform: translateY(150%);
    background-color: black;
    /* Adjust the translateY value to slide the label up */
}

.input-field-login:focus+.input-label-login,
.input-field-login:not(:placeholder-shown)+.input-label-login,
.input-field-login:valid+.input-label-login,
.input-field-login.has-content+.input-label-login {
    top: -12px;
    /* Adjust the top position when the input is focused or has content */
    font-size: 12px;
    /* Optional: Reduce font size when the label moves up */
}



.submit-button {
    margin: 25px auto;
    z-index: 2;
    margin: 0;
    padding: 3px;
    border: none;
    background: none;
    font: inherit;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    cursor: pointer;
}

.submit-button:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

.slider-box {
    width: 220px;
    padding: 10px;
    position: absolute;
    top: 55px;
    box-shadow: 0 0 20px 9px #3f3f3f1f;
    border-radius: 30px;
    cursor: pointer;
    caret-color: transparent;
}
.login-label,
.register-label {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    z-index: 2;
    color: #fff;
}
#slider {
    display: none;
}
.slider {
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right, #1164ff, #70a2ff);
    border-radius: 30px;
    transition: .5s;
    transform: translateX(110px);
}
#slider:checked ~ .slider {
    transform: translateX(0);
}









.section {
    display: flex;
    justify-content: center;
}
.bb_button__text_login {
    line-height: 2em;
    text-transform: uppercase;
    color: #fff;
    padding: 0 1em;
    z-index: 2;
}
.bb_button_login {
    border: 2px solid #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.bb_button_login:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}
.bb_button_login:before, .bb_button_login:after {
    content: '';
    background: black;
    position: absolute;
    z-index: -1;
    transition: transform .2s ease-in-out;
}
.bb_button--corner_login:before {
    top: -3px;
    right: 1em;
    bottom: -3px;
    left: 1em;
}
.bb_button--corner_login:after {
    top: 0.5em;
    right: -3px;
    bottom: 0.5em;
    left: -3px;
}
.bb_button--corner_login:hover:before {
    transform: scaleX(0);
}
.bb_button--corner_login:hover:after {
    transform: scaleY(0);
}


