.show-quote-container {
    width: 515px;
    height: 655px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    border: #fff 2px solid;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
}
.show-quote {
    width: 500px;
    height: 640px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.822);
    border: black 2px solid;
    color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}